<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo AMS - Contacto</title>
    <link rel="stylesheet" href="../CSS/estiloscss.css">
</head>
<body>
    <header>
        <img src="../images/grupoAMS.png" alt="Grupo AMS" width="200" height="100">
    </header>

    <nav>
        <a href="../index.html">Inicio</a>
        <a href="productos.html">Proyectos</a>
        <a href="presupuesto.html">Presupuesto</a>
        <a href="contacto.html" class="active">Contacto</a>
    </nav>

    <div class="pagina-contacto">
        <div class="container">
            <section>
                <h2>Contacto</h2>
                <p>Para cualquier consulta, no dudes en ponerte en contacto con nosotros. Aquí te dejamos nuestra ubicación y datos de contacto:</p>
            
                <div class="contacto-info">
                    <p><strong>Teléfono:</strong> +34 123 456 789</p>
                    <p><strong>Email:</strong> pablo.vega@grupoams.com</p>
                </div>

                <div class="mapa">
                <h3>Nuestra Ubicación</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.295213657949!2d-5.9298058755468865!3d37.375538201789865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126f105935408b%3A0x160e025838a4dc99!2sGrupo%20AMS!5e0!3m2!1ses!2ses!4v1725448671206!5m2!1ses!2ses" 
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
                </div>
            </section>
        </div>
    </div>

    <footer>
        <p>Dirección de la empresa: C. Pino Salgareño, 2, 41016 Sevilla</p>
        <p><a href="#">Aviso Legal</a></p>
        <a href="https://www.facebook.com/Grupo.Ams.Sevilla/?locale=es_ES" target="_blank"><img src="../images/facebook.png" alt="Facebook" width="50" height="25"></a> <!--target blank hace que al pulsar el logo te dirijas a una nueva pestaña-->
        <a href="https://x.com/grupo_ams" target="_blank"><img src="../images/X.png" alt="X" width="50" height="25"></a>
        <a href="https://www.linkedin.com/company/grupo-ams-sevilla/?originalSubdomain=es" target="_blank"><img src="../images/linkedin.png" alt="LinkedIn" width="50" height="25"></a>
    </footer>
</body>
</html>