<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo AMS - Contacto</title>
    <link rel="stylesheet" href="../CSS/estiloscss.css">
</head>
<body>
    <header>
        <img src="../images/grupoAMS.png" alt="Grupo AMS" width="200" height="100">
    </header>

    <nav>
        <a href="../index.html">Inicio</a>
        <a href="productos.html" class="active">Proyectos</a>
        <a href="presupuesto.html">Presupuesto</a>
        <a href="contacto.html">Contacto</a>
    </nav>

    <div class="container">
        <h2>Nuestros proyectos</h2>
        <div class="galeria">
            <div class="obra">
                <img src="../images/concesionariomercedes1.jpg" alt="Producto 1" width="100" height="50">
                <div class="info">
                    <h3>Edificio Mercedes Benz en Alcalá de Henares</h3>
                </div>
            </div>
            <div class="obra">
                <img src="../images/lidlfenalitx1.jpg" alt="Producto 2" width="100" height="50">
                <div class="info">
                    <h3>Supermercado Lidl en Alcalá de Henares</h3>
                </div>
            </div>
            <div class="obra">
                <img src="../images/torreborealis1.jpg" alt="Producto 3" width="100" height="50">
                <div class="info">
                    <h3>Torre Borealis en Madrid</h3>
                </div>
            </div>
            <div class="obra">
                <img src="../images/fabricavictoriamalaga1.jpg" alt="Producto 4" width="100" height="50">
                <div class="info">
                    <h3>Fábrica de cerveza Victoria en Málaga</h3>
                </div>
            </div>
            <div class="obra">
                <img src="../images/edificioporsche1.jpg" alt="Producto 5" width="100" height="50">
                <div class="info">
                    <h3>Edificio Porsche en Madrid</h3>
                </div>
            </div>
            <div class="obra">
                <img src="../images/centrocomercialgranada1.jpg" alt="Producto 6" width="100" height="50">
                <div class="info">
                    <h3>Centro comercial Serrallo Plaza en Granada</h3>
                </div>
            </div>
            <div class="obra">
                <img src="../images/hospital12octubre.jpg" alt="Producto 7" width="100" height="50">
                <div class="info">
                    <h3>Centro comercial en Granada</h3>
                </div>
            </div>
            <div class="obra">
                <img src="../images/mediamarkt1.jpg" alt="Producto 8" width="100" height="50">
                <div class="info">
                    <h3>Media Markt en Alcalá de Henares</h3>
                </div>
            </div>
            <div class="obra">
                <img src="../images/colegiomayor1.jpg" alt="Producto 9" width="100" height="50">
                <div class="info">
                    <h3>Colegio Mayor Sta María del Pino en Madrid</h3>
                </div>
            </div>
            <div class="obra">
                <img src="../images/nestlegirona1.jpg" alt="Producto 10" width="100" height="50">
                <div class="info">
                    <h3>Instalaciones Nestle en Gerona</h3>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>Dirección de la empresa: C. Pino Salgareño, 2, 41016 Sevilla</p>
        <p><a href="#">Aviso Legal</a></p>
        <a href="https://www.facebook.com/Grupo.Ams.Sevilla/?locale=es_ES" target="_blank"><img src="../images/facebook.png" alt="Facebook" width="50" height="25"></a> <!--target blank hace que al pulsar el logo te dirijas a una nueva pestaña-->
        <a href="https://x.com/grupo_ams" target="_blank"><img src="../images/X.png" alt="X" width="50" height="25"></a>
        <a href="https://www.linkedin.com/company/grupo-ams-sevilla/?originalSubdomain=es" target="_blank"><img src="../images/linkedin.png" alt="LinkedIn" width="50" height="25"></a>
    </footer>

</body>
</html>